form li{
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
form ul{
  padding-left: 0;
}
label{
  display: block;
  cursor: pointer;
  color: green;
  font-family: sans-serif;
  padding-bottom: 10px;
}
textarea{
  width: 400px;
  height: 200px;
}
